@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  @apply ;
} */
@layer base {
  body {
    @apply whitespace-pre-line bg-bgcolor font-dmSans leading-none text-text-color dark:bg-bgcolor-dark dark:text-text-color-dark;
  }
  h1 {
    @apply m-0 font-spline text-3xl font-semibold leading-none text-primary md:text-4xl lg:text-5xl dark:text-primary-dark;
  }
  h2 {
    @apply text-4xl;
  }
  h3 {
    @apply font-dmMono text-3xl font-semibold text-secondary md:text-4xl dark:text-secondary-dark;
  }
  h4 {
    @apply font-dmMono text-xl font-semibold leading-9 md:text-2xl;
  }
}

@layer utilities {
  .gradient-basics {
    position: absolute;
    z-index: -1;
    flex-shrink: 0;
    filter: blur(100px);
    @apply bg-light-gradient dark:bg-dark-gradient;
  }
  .display-light {
    display: block;
  }
  .display-dark {
    display: block;
  }

  .heading-purple {
    @apply text-btn dark:text-secondary;
  }

  .heading-blue {
    @apply text-[#5F7CD3] dark:text-[#84A1F7];
  }

  .animation-scroll-left {
    animation: scroll-left 0.6s;
    animation-timeline: scroll(root);
  }

  @keyframes scroll-left {
    /* 0% {
      left: -50;
    }
    100% {
      left: 0;
    } */

    to {
      transform: translate(calc(50%));
    }
  }
  @keyframes scroll-right {
    to {
      transform: translate(calc(-300% - 0.5rem));
    }
  }
}
