@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  @apply bg-bgcolor text-text-color dark:bg-bgcolor-dark dark:text-text-color-dark;
} */
@layer base {
  body {
    @apply bg-bgcolor text-text-color dark:bg-bgcolor-dark dark:text-text-color-dark;
  }
  h1 {
    font-family: theme('fontFamily.spline');
    font-size: 4rem;
    font-weight: 700;
    line-height: 110%; /* 4.4rem */
    letter-spacing: -0.1rem;
  }
}

@layer utilities {
  .gradient-basics {
    position: absolute;
    z-index: -1;
    flex-shrink: 0;
    filter: blur(100px);
    @apply bg-light-gradient dark:bg-dark-gradient;
  }
  .display-light {
    display: block;
  }
  .display-dark {
    display: block;
  }
}
